@media (max-width:950px) {}

@media (max-width:950px) {}

@media (max-width: 840px) {
    .main-block {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .burger-bar {
        display: block;
    }
    /*burgeris visuali*/
    .navigation-wraper {
        flex-direction: column;
    }
    .nav-ul {
        flex-direction: column;
    }
    .nav-ul li {
        text-align: center;
    }
    .navigation.active {
        display: block;
    }
}

@media (max-width: 768px) {
    .footer-bg {
        justify-content: space-between;
    }
    .block-contact {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    .home-news {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
}

@media (max-width:580px) {
    .footer-bg {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {}