body {
    background-color: lightgray;
}

.header-wraper {
    background-color: lightslategrey;
    z-index: 20;
}

h1 {
    font-size: 30px;
    color: grey;
    margin: 30px;
    text-align: center;
}

.navigation-wraper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-ul {
    display: flex;
}

.nav-ul li {
    margin-right: 30px;
}

.burger-bar {
    color: white;
    font-size: 20px;
    display: none;
}

.home-news {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.news-block {
    max-width: 380px;
    width: 100%;
    height: 340px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-p {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
}


/*seqtion 1 */

.bg-image {
    background-image: url('../images/41-2.PNG');
    height: 320px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.4;
    transition: all 0.4s linear;
}

.bg-image:hover {
    opacity: 1.0;
}

.title-sect {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}


/*.title-sect h2 {
    font-size: 35px;
    color: darkblue;
} */


/*section 2 hystory*/

.slider {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-item {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: rosybrown;
}

.slider-item img {
    width: 100%;
    height: 100%;
}

.block-sect2,
.block-sect4 {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}


/*section - 3 sastsavlo procesi*/

.conteiner {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.main-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block1 {
    width: 420px;
    height: 340px;
    background-color: lightblue;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block1 p {
    max-width: 340px;
    width: 100%;
    background-color: lightslategray;
    margin-bottom: 20px;
    text-align: center;
}

.block1 h4 {
    font-size: large;
    margin: 20px;
}

.text-block {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.block1:nth-child(1) {
    background-color: lightgreen;
}

.block1:nth-child(2) {
    background-color: lightpink;
}

.block1:nth-child(3) {
    background-color: lightskyblue;
}

.block1:nth-child(4) {
    background-color: greenyellow;
}

.read1:hover {
    background-color: white;
}


/* section 4*/


/*section 5*/

.block-contact {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.left-contact-block {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.left-contact-block h4 {
    margin-top: 20px;
    font-size: 20px;
    color: grey;
}

.map {
    max-width: 319px;
    width: 100%;
    margin-top: 30px;
}

.right-contact-block {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: grey;
}


/*.block-sect2 h3 {
    font-size: 30px;
    color: gray;
    margin-bottom: 20px;
}*/

h3 {
    font-size: 30px;
    color: gray;
    margin-bottom: 20px;
}


/*footer*/

.footer-bg {
    max-width: 1440px;
    width: 100%;
    height: 80px;
    background-color: lightslategrey;
    display: flex;
    justify-content: space-between;
}

.block-i {
    display: inline-block;
    margin-left: 30px;
    align-content: center;
}


/*.block1 {
    margin-left: 142px;
}

.icon {
    padding-right: 22px;
}*/


/*icons*/

.icons {
    margin-top: 20px;
    margin-right: 20px;
    align-content: center;
}

.fa-facebook {
    font-size: 20px;
    transition: all 0.4s linear;
}

.fa-facebook:hover {
    color: lightblue;
}

.fa-facebook-messenger {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.4s linear;
}

.fa-facebook-messenger:hover {
    color: darkblue;
}

.fa-youtube {
    font-size: 20px;
    transition: all 0.4s linear;
}

.fa-youtube:hover {
    color: red;
}